<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>..SyP Mendoza</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'Inicio_static/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'Inicio_static/css/heroic-features.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Mendozaaa!!!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'Inicio' %}">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Peliculas' %}">Peliculas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Series' %}">Series</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Inicio' %}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Series y Peliculas Mendoza</h1>
      <p class="lead">Peliculas y Series sin publicidad y pantallas emergentes, 100% gratis y seguro</p>
    </header>

    <!-- Page Features -->
    <div class="row text-center">
      {% for Peli_o_Serie in PyS%}

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static Peli_o_Serie.image %}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{Peli_o_Serie.nombre}}</h4>
            <p class="card-text">{{Peli_o_Serie.descripcion_corta}}</p>
          </div>
          <div class="card-footer">
            
            {% if Peli_o_Serie.tipo == "Serie"%}
              <a href="{% url 'Serie_Elegida' Peli_o_Serie.nombre %}" target="_blank" class="btn btn-primary">Ver Serie!</a>
            {% else %}
              <a href="{% url 'Pelicula_Elejida' Peli_o_Serie.nombre %}" target="_blank" class="btn btn-primary">Ver Pelicula!</a>
              
            {% endif %}

          </div>
        </div>
      </div>
      
      {% endfor%}

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Sitio Web 2020 - Diego Cazon</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'Inicio_static/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'Inicio_static/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
